<header>
  <h2>Add a New Recipe</h2>  
</header>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="vegetarian">Vegetarian Meal:</label>
      <select name="vegetarian" id="vegetarian" formControlName="vegetarian">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </li>
    <li>
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" formControlName="name">
      <div *ngIf="form.get('name').hasError('pattern')" class="error">
        Name has invalid characters
      </div>
    </li>
    <li>
      <label for="ingredient1">First Ingredient:</label>
      <input type="text" name="ingredient1" id="ingredient1" formControlName="ingredient1">
    </li>
    <li>
      <label for="ingredient2">Second Ingredient:</label>
      <input type="text" name="ingredient2" id="ingredient2" formControlName="ingredient2">
    </li>
    <li>
      <label for="ingredient3">Third (Optional) Ingredient:</label>
      <input type="text" name="ingredient3" id="ingredient3" formControlName="ingredient3">
    </li>
    <!--<li>
      <label for="year">Year</label>
      <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      <div *ngIf="form.get('year').errors as yearErrors" class="error">
        Must be between {{ yearErrors.year.min }} and {{ yearErrors.year.max }}
      </div>
    </li>-->
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>